!!!
%html
  %head
    %title Rockland Tweets
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / Bootstrap
    %link{:href => "css/bootstrap.min.css", :media => "screen", :rel => "stylesheet"}/
  %body
    .container-fluid
      .row-fluid
        .span2
          / Sidebar content
          %h1 Towns
          .towns
            %i.icon-map-marker
            %a{:href => "#"} Ramapo
            %i.icon-map-marker
            %a{:href => "#"} Nyack
            %i.icon-map-marker
            %a{:href => "#"} Orangetown
            %i.icon-map-marker
            %a{:href => "#"} Stony Point
            %i.icon-map-marker
            %a{:href => "#"} Haverstraw
        .span10
          / Body content
          .hero-unit
            %h1 Rockland Tweets
            %p.lead Welcome to Rockland Tweets. Click your town and see what's happening on Twitter
          %div
            = Twitter.search("rockland county", count: 10, result_type: "recent").results.map do |status| |
                "#{status.from_user}: #{status.text}"                                                             |
              end                                                                                                 |
    %script{:src => "http://code.jquery.com/jquery.js"}
    %script{:src => "js/bootstrap.min.js"}