!!!
%html
  %head
    %title Rockland Tweets
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / Bootstrap
    %link{:href => "/css/bootstrap.min.css", :media => "screen", :rel => "stylesheet"}/
  %body
    .container-fluid
      .row-fluid
        .span2
          / Sidebar content
          %h1 Towns
          %ul
            %li 
              %a{:href => "/ramapo"} Ramapo
            %li
              %a{:href => "/nyack"} Nyack
            %li
              %a{:href => "/orangetown"} Orangetown
            %li
              %a{:href => "/stony_point"} Stony Point
            %li
              %a{:href => "/haverstraw"} Haverstraw
            %li
              %a{:href => "/clarkstown"} Clarkstown
        
          %h1 Find out what's tweeting in your town
          %a{:href => "/login"}
            %img#twitter-signin{:src => "/img/sign-in-with-twitter-gray.png"}/
            %a{:href => "/users/signup"}
              %h4 Create a new account
            %br/
          %h3 Login 
          %form.form-horizontal{:action => "/sign_in", :method => "post"}
          .control-group
            %label.control-label{:name => "email"} Email
            .controls
              %input.loginform{:type => "text", :name => "email"}
          .control-group
            %label.control-label{:name => "password"} Password
            .controls
              %input.loginform{:type => "password", :name => "password"}
          .control-group
            %button.btn{:type => "submit"} Sign In
        .span10
          / Body content
          .hero-unit
            %a{:href => "/"}
              %h1 Rockland Tweets
            %p.lead Welcome to Rockland Tweets. Click your town and see what's happening on Twitter
          %div
            =yield
          %h3 Didn't find what you're looking for? Search below to find what you want about Rockland.
          %form.form-search{:action => "/search", :method => "get"}/
          %input.input-medium.search-query{:type => "text", :name => "input",  :placeholder => "Rockland County"}/ 
          %button.btn{:type => "submit"} Search 
          %br
          %br
