%h3 Orangetown

-@orangetown_search.results.each do |status|                                                                    
  =auto_link("@#{status.from_user} Tweeted:")
  %br
  =auto_link("#{status.text}") 
  %br 
  ="on #{status.created_at.strftime("%B %d, %Y")} at #{status.created_at.strftime("%I:%M %P")}" 
  %br
  %br