%h1 Sign up to recieve custom alerts
%form{:action => "/users/signup", :method => "post"}
  %label{:name => "first_name"} First Name
  %input{:type => "text", :name => "first_name"}

  %label{:name => "last_name"} Last Name
  %input{:type => "text", :name => "last_name"}

  %label{:name => "email"} Email
  %input{:type => "text", :name => "email"}

  %label{:name => "password"} Password
  %input{:type => "password", :name => "password"}

  %label{:name => "zipcode"} Zipcode
  %input{:type => "integer", :name => "zipcode"}
  
  %br
  %br
  %button.btn{:type => "submit"} Sign me up! 